@import url("sphinxdoc.css");

body {
    margin: 0 2em;
    padding: 0;
    color: #000033;
    background: white;
    font: 90% "Trebuchet MS", sans-serif;
    border: 0;
}

h1, h2, h3, h4, h5 {
    background: transparent !important;
    border: 0 !important;
    padding-left: 0 !important;
    color: black;
}

a {
    color: #122981;
    text-decoration: none !important;
}

a.headerlink {
    font-size: 0.1em;
}

a.reference em {
    font-style: normal;
}

div.body {
    padding-top: 0;
}

div.header {
    text-align: left;
    margin: 0 -2em;
    position: relative;
    overflow: hidden;
    left: 0;
    height: 80px;
    background: #3e6d42 url(img/header-bg.png) repeat-x 0 0;
}

div.header h1 {
    padding-top: 0.25em;
    font-size: 2.5em;
}

div.header h3 {
    margin-bottom: 0.5em;
}

#top-nav {
    margin: 0;
    position: absolute;
    bottom: 5px;
    right: 1.5em;
    height: 20px;
    list-style: none;
}

#top-nav li {
    font-weight: bold;
    display: inline;
    margin: 0;
    padding: 0 1em 1em;
    vertical-align: middle;
}

#top-nav li a {
    color: white;
}

#top-nav li a:hover {
    color: #777777;
}

#searchbox {
    display: none;
    position: absolute;
    right: 15px;
    top: 30px;
}

#code-chooser {
    float: right;
    width: 225px;
    margin-bottom: 2em;
}

#code-chooser h3 {
    margin-bottom: 1em;
    text-align: left;
}

.show-chooser {
    display: none;
}

div.document {
    margin: 1em 2em;
    background-image: none;
    /*background-color: white;*/
}

div.sphinxsidebar {
    /*float: right;*/
    clear: both;
    width: 240px;
    height: 0;
    margin-left: 0;
}

div.sphinxsidebarwrapper {
   padding: 10px 5px 0 10px;
}

div.sphinxsidebar li {
    padding-bottom: 0.5em;
}

div.sphinxsidebar h3, div.sphinxsidebar h4, div.sphinxsidebar h3 a, div.sphinxsidebar h4 a {
    color: inherit !important;
}

div.related {
    margin: 0.5em 1.5em 1em;    
    width: 90%;
}

div.related ul {
    background: transparent;
    border: 0;
    padding: 0;
}

div.related ul li a {
    color: #3e6d42;
}

.toctree-l1 {
    padding-bottom: 0.4em;
}

.toctree-l1 ul {
    padding-top: 0.2em
}

pre {
    background: #EEEEEE;
    font-size: 0.9em;
    border: 1px solid #AAAAAA;
    padding: 1em;
}

.ui-widget pre {
    background: white;
    border: 0 none;
}

.code {
    display: none;
}

tt {
    color: inherit;
}

div.footer {
    background: transparent;
    text-align: center;
}

div.warning p.admonition-title {
    background-color: #CF6600;
}

#gitcommits {
    display: none;
}

/* override jquery style */

.ui-widget {
    font-size: 1em !important;
}

.ui-tabs .ui-tabs-nav {
    font-size: 0.8em;
}

.ui-tabs .ui-tabs-panel {
    padding: 0 !important;
}

.ui-tabs-hide {
    display: none;
}

/* fg buttons */
.fg-button {
    outline: 0;
    margin:0 4px 0 0;
    padding: 0.4em;
    text-decoration:none !important;
    cursor:pointer;
    position: relative;
    text-align: center;
    font-size: 0.7em;
    zoom: 1;
}

.fg-button .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px;
}

a.fg-button {
    float:left;
}

/* remove extra button width in IE */
button.fg-button {
    width:auto;
    overflow:visible;
}

.fg-button-icon-left {
    padding-left: 2.1em;
}
.fg-button-icon-right {
    padding-right: 2.1em;
}
.fg-button-icon-left .ui-icon {
    right: auto;
    left: .2em;
    margin-left: 0;
}
.fg-button-icon-right .ui-icon {
    left: auto;
    right: .2em;
    margin-left: 0;
}

.fg-button-icon-solo {
    display:block;
    width:8px;
    text-indent: -9999px;
}
.fg-buttonset {
    float:left;
}
.fg-buttonset .fg-button {
    float: left;
}
.fg-buttonset-single .fg-button, .fg-buttonset-multi .fg-button {
    margin-right: -1px;
}

.fg-toolbar {
    padding: .5em;
    margin: 0;
}
.fg-toolbar .fg-buttonset {
    margin-right:1.5em;
    padding-left: 1px;
}
.fg-toolbar .fg-button {
    font-size: 1em;
}

div.footer a img {
    vertical-align: middle;
}

#logo-img {
    margin-left: 0.5em;
    margin-top: 1.0em;
}

#logo {
    position: absolute;
    top: 28px;
    left: 66px;
}

#logo a {
   color: white;
   font-size: 36px;
   font-weight: bold;
}

a.news {
    background: transparent url(img/feed.png) no-repeat 160px 0;
    color: black;
    display: block;
    font-size: 1.5em;
    height: 32px;
    margin-top: 1em;
}

p.tagline {
   color: black; 
   font-size: 150%; 
   margin: 1em 0 1.5em;
}

div.download {
   background: transparent url(img/go-down.png) no-repeat 100px 5px;
}

div.download p {
  margin-top: -0.25em;
  /*margin-left: 1em;*/
}

ul.rss_items li {
  border: 0 !important;
}
